
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.racer_table td {
  height: 50px;
  width: 50px;
}

.racer_table td.active {
  background-color: white;
  background-image: url("http://worldartsme.com/images/cartoon-cricket-insect-clipart-1.jpg");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: center;
}

body {
    background-image: url("http://www.joomla-css.nl/images/joomla30/seamless-grass.jpg");
    /*background-color: #cccccc;*/
}

h2 {
	
	color: black;
	font-size: 2em;
	text-align: center;
}

h3 {
	color: black;
	font-size: 1.5em;
	text-align: center;
}

.finish {
	border-right: thick double #ffff00;
}


table {
	border-collapse: collapse;
	margin: 0 auto;
}

#newGame {
	margin: 6em;
}


/*.active {
	background-image: url("http://content.mycutegraphics.com/graphics/bug/grasshopper-cute.png");
	background-color: white;
}*/